@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

main {
    padding: 16px;
    margin-bottom: 200px;
}

main > div {
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 200px;
}

header {
    background-color: #FF5A33;
}

nav > a {
    color: white;
}

footer {
    position: fixed;
    bottom: 0px;
    background-color: #B4CF66;
    width: 100%;
    padding: 40px
}

nav {
    border-bottom: 1px black;
    padding: 16px;
}

a {
    text-decoration: none;
}

h3 > a:visited {
    text-decoration: none;
}


a:hover {
    color: cyan;
}

h1 {
    color: #146152;
}

tr:nth-child(even) {
    background-color: rgba(0, 0, 0, .2);
}

.recipe-link{
    color: #44803F;
}

.recipe-list-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 10px;
}

.recipe-box:hover {
    box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, .3);
}
